.container {
  width: 100vw;
  height: 50px;
  position: fixed;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background: rgba(127, 127, 127, 0.5);

  .search-form {
    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
      width: 250px;
      height: 35px;
      border: none;
      text-align: center;
      margin-left: 2px;
    }

    &__button {
      position: relative;
      width: 35px;
      height: 35px;
      border: none;

      &::after {
        content: url('../img/search-icon.svg');
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #000;
        width: 35px;
        height: 35px;
      }
    }
  }

  .favorites {
    background: url(../img/heart.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    border: 0;
    padding: 0;
  }
}
